<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="nav-items">
      <div class="nav-item-logo">
      <button routerLink="" mat-button class="logo">
        Desafio Vector
      </button>
      </div>

      <div class="nav-item-logout">
        <a href='/login' mat-icon-button class="btn"  (click)="logout()" >
          <img src="../../../assets/sair.png" alt="sair" width="30px" height="30px">
        </a>
      </div>

    </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
